projects/.vs
/bin/
/lib/
projects/event_bus
temp
bin/Debug/device_camera.dll
bin/Debug/device_camera.dll
bin/Debug/device_camera.dll
/projects/test_motion_control/x64
/projects/test_camera_sdk/x64
bin/Debug/basic_algorithm.dll
bin/Debug/basic_algorithm.pdb
bin/Debug/common.dll
bin/Debug/common.pdb
bin/Debug/device_camera.dll
bin/Debug/device_camera.pdb
bin/Debug/event_bus.dll
bin/Debug/event_bus.pdb
bin/Debug/fiber_end_client.exe
bin/Debug/basic_algorithm.dll
bin/Debug/basic_algorithm.pdb
bin/Debug/common.dll
bin/Debug/common.pdb
bin/Debug/device_camera.dll
bin/Debug/device_camera.pdb
bin/Debug/event_bus.dll
bin/Debug/event_bus.pdb
bin/Debug/fiber_end_client.exe
bin/Debug/fiber_end_client.pdb
bin/Debug/fiber_end_server.exe
bin/Debug/basic_algorithm.dll
bin/Debug/basic_algorithm.pdb
bin/Debug/common.dll
bin/Debug/common.pdb
/bin/Debug
/lib/Debug
*.pdb
/bin/Debug
